@page "/about"

<h3>About</h3>

Playing around with <a href="https://learn.microsoft.com/en-us/dotnet/aspire/get-started/aspire-overview">.NET Aspire</a> and 
<a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-8.0">Blazor in .NET 8</a>
@code {

}
